@font-face {
    font-family: sailec;
    src: url(./Sailec\ Thin.ttf);
}
/* .carousel-inner>.item {
  
    transition: transform .2s ease-in-out
    ,-webkit-transform .2s ease-in-out,
    -o-transform .2s ease-in-out
} */
body{
    font-family: sailec, sans-serif;
    width: 90%;
    margin: auto;
}
h3,.carousel-indicators li{
    padding: 0;
    margin: 0;
}
.carousel-indicators>li,.carousel-indicators .active
{
    height: auto;
}
img{
    max-width: 100%;
    height: auto;
}
.carousel-indicators>li{
    /* background-color: red ; */
    border: none;
    text-align: left;
    text-indent: 0;
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    margin-bottom: 25px;
    border: #d5d2e5 0px solid;
    padding: 20px 20px 20px 40px;
    border: #fff 1px solid;
    /* padding-bottom: 50px; */
    /* margin:50px 0 150px 0; */
}
.carousel-indicators  .active {
    width: 100%;
    margin-bottom: 20px;

}
.carousel-indicators {
    bottom: 0;
    
    width: 100%;
}

.details>h3{
    color: #3b1d84;
    font-size: 28px;
    line-height: 1.3;
}
.details{
    margin-left: 20px;
}
.details>p{
    font-size: 14px;
    margin-top: 14px;
    color: #3b1d84;
    letter-spacing: .3px;
    line-height: 1.5;
}
li:hover{
    border: #d5d2e5 1px solid;
    border-radius: 10px;
    /* padding: 20px 20px 20px 40px; */
    transition: ease-in .3s;
}
/* li{
    
    padding: 20px 20px 20px 40px;
} */
.active .number {
    background-color: #9f8aca;
    color: #fff;
}
.number{
    /* left: 50px;
    position: absolute; */
    padding:8px 20px;
    letter-spacing: .3px;
    line-height: 1.5;
    color: #59547a;
    font-size: 24px;
    background-color: #fff;
    border: #d5d2e5 1px solid;
    border-radius: 50%;
    width: 8px;
    height: auto;
}
/* .details::before{
    content: "";
    float: left;
    border-left: 1px solid #000;: ;
} */
.number-bullet{
    padding-top: 7px;
}

.carousel-indicators  .active {
    background-color:#f7f7fa;
    border: #d5d2e5 1px solid;
    border-radius: 10px;
    /* padding: 20px 20px 20px 40px;
    */
}
#myCarousel{
    display: grid;
    grid-gap: 1%;
    align-items: center;
    grid-template-columns: 70% 29%;
}
.carousel-indicators{
    position: relative;
    left: 0;
    width: 100%;
    margin-left: 0;
}
.container{
    width: 100%;
    padding: 0;
    height: 500px;
    margin-top: 30px;
}
*, *::before, *::after{
    box-sizing: border-box;
}
 /* .details::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: .5s;
    z-index: 1;
} */

/* @media screen and (max-width: 425px){
    #myCarousel{
        grid-template-columns: 1fr !important;
    }
} */